In [148]:
# Importing the libraries
import pandas as pd
import seaborn as sns
import csv 
import statistics
from numpy import *
import numpy as np
import matplotlib.pyplot as plt

In [149]:
# Importing the data from csv file
dataset22 = pd.read_csv('D24_MAB_FY19P1to7.csv')

In [152]:
# Observing initial observations of the dataset to gain a basic data understanding
dataset22.head(5)

,MBWHSE,MBREG_NUM,MBTRN_NUM,FISCAL_PERIOD,MBDATE,MBTIME,MBITEM,MBDSUN,MBDSEL,MBRESL,MBRFND,IMCAT1,IMCAT2,IMCAT3,IMDES1,IMDES2,REGION,LCDIST,LCNAME,LCCITY,LCSTA,MSPIPK,ACCTYP,EXECFLG
0,423.0,12.0,398.0,2.0,10/26/18 0:00,1721.0,1234449.0,1.0,549.99,NaN,NaN,M,A,B,"HP 15-CS0053CL 15.6"" LT",I5-8250U/12GB/1TB,BA,D3,Sunnyvale,SUNNYVALE,CA,539928,1.0,E
1,1001.0,5.0,257.0,2.0,10/26/18 0:00,1352.0,1234449.0,1.0,549.99,NaN,NaN,M,A,B,"HP 15-CS0053CL 15.6"" LT",I5-8250U/12GB/1TB,LA,D3,Tustin,TUSTIN,CA,437256,2.0,E
2,770.0,2.0,108.0,2.0,10/26/18 0:00,1226.0,1235362.0,1.0,469.99,NaN,NaN,M,A,B,"DELL I5570 15.6"" LT",I3-8130U/12GB/1TB,NW,D1,South Ogden,OGDEN,UT,6142209,1.0,E
3,770.0,2.0,209.0,2.0,10/26/18 0:00,1442.0,1238985.0,1.0,899.99,NaN,NaN,M,A,B,"HP 15-CS0073CL 15.6"" LT",I7-8550U/16GB/1TB,NW,D1,South Ogden,OGDEN,UT,6139758,1.0,NaN
4,770.0,51.0,52.0,2.0,10/26/18 0:00,1458.0,1238985.0,-1.0,-899.99,NaN,NaN,M,A,B,"HP 15-CS0073CL 15.6"" LT",I7-8550U/16GB/1TB,NW,D1,South Ogden,OGDEN,UT,6139758,1.0,NaN

In [153]:
#Renaming the columns
dataset22.columns = ['WarehouseNo', 'RegisterNo','TransactionNo','FiscalPeriod','DateOfSale', 'TransactionTime', 'ItemNo','DailySalesUnites', 'DailySalesSell','Resell','Refund', 'CatCode1','CatCode2','CatCode3','ItemDes1','ItemDes2', 'RegionCode', 'District','LCNAME','City', 'State','MembershipIPK','AccountType','ExeFlag']

In [154]:
dataset22.head()

,WarehouseNo,RegisterNo,TransactionNo,FiscalPeriod,DateOfSale,TransactionTime,ItemNo,DailySalesUnites,DailySalesSell,Resell,Refund,CatCode1,CatCode2,CatCode3,ItemDes1,ItemDes2,RegionCode,District,LCNAME,City,State,MembershipIPK,AccountType,ExeFlag
0,423.0,12.0,398.0,2.0,10/26/18 0:00,1721.0,1234449.0,1.0,549.99,NaN,NaN,M,A,B,"HP 15-CS0053CL 15.6"" LT",I5-8250U/12GB/1TB,BA,D3,Sunnyvale,SUNNYVALE,CA,539928,1.0,E
1,1001.0,5.0,257.0,2.0,10/26/18 0:00,1352.0,1234449.0,1.0,549.99,NaN,NaN,M,A,B,"HP 15-CS0053CL 15.6"" LT",I5-8250U/12GB/1TB,LA,D3,Tustin,TUSTIN,CA,437256,2.0,E
2,770.0,2.0,108.0,2.0,10/26/18 0:00,1226.0,1235362.0,1.0,469.99,NaN,NaN,M,A,B,"DELL I5570 15.6"" LT",I3-8130U/12GB/1TB,NW,D1,South Ogden,OGDEN,UT,6142209,1.0,E
3,770.0,2.0,209.0,2.0,10/26/18 0:00,1442.0,1238985.0,1.0,899.99,NaN,NaN,M,A,B,"HP 15-CS0073CL 15.6"" LT",I7-8550U/16GB/1TB,NW,D1,South Ogden,OGDEN,UT,6139758,1.0,NaN
4,770.0,51.0,52.0,2.0,10/26/18 0:00,1458.0,1238985.0,-1.0,-899.99,NaN,NaN,M,A,B,"HP 15-CS0073CL 15.6"" LT",I7-8550U/16GB/1TB,NW,D1,South Ogden,OGDEN,UT,6139758,1.0,NaN

In [155]:
# Get shape of the dataset
row, col = dataset22.shape
print('Number of Dimensions:', dataset.ndim ,', having', row, "rows and", col, 'columns' )

Number of Dimensions: 2 , having 1048575 rows and 24 columns

In [10]:
#Increasing the length of display
pd.set_option('display.max_columns', 40)

In [156]:
#datatypes of the columns of the dataset
dataset22.dtypes

WarehouseNo         float64
RegisterNo          float64
TransactionNo       float64
FiscalPeriod        float64
DateOfSale           object
TransactionTime     float64
ItemNo              float64
DailySalesUnites    float64
DailySalesSell      float64
Resell               object
Refund               object
CatCode1             object
CatCode2             object
CatCode3             object
ItemDes1             object
ItemDes2             object
RegionCode           object
District             object
LCNAME               object
City                 object
State                object
MembershipIPK         int64
AccountType         float64
ExeFlag              object
dtype: object

In [157]:
# Changing the datatype of DateOfSale from object to datetime
dataset22['DateOfSale'] = pd.to_datetime(dataset22['DateOfSale'])

In [158]:
# Checking for null values
null_counts = dataset22.isnull().sum()
null_counts

WarehouseNo         213762
RegisterNo          213762
TransactionNo       213762
FiscalPeriod        213762
DateOfSale          213762
TransactionTime     213762
ItemNo              213762
DailySalesUnites    213762
DailySalesSell      213762
Resell              796298
Refund              938440
CatCode1            213762
CatCode2            213762
CatCode3            213762
ItemDes1            213762
ItemDes2            214902
RegionCode          213762
District            213762
LCNAME              213762
City                213762
State               213762
MembershipIPK            0
AccountType         215689
ExeFlag             430035
dtype: int64

In [159]:
#Exploring unique 
dataset22["Resell"].unique()

array([nan, 'Y', 'N'], dtype=object)

In [160]:
dataset22["Refund"].unique()

array([nan, 'Y'], dtype=object)

In [161]:
# Replacing null values by N
dataset22["Resell"].fillna("N", inplace = True)
dataset22["Refund"].fillna("N", inplace = True)

In [162]:
dataset22["Resell"].unique()

array(['N', 'Y'], dtype=object)

In [163]:
dataset22["Refund"].unique()

array(['N', 'Y'], dtype=object)

In [164]:
# Replacing null values by zero
dataset22 = dataset22.fillna(0)

In [165]:
# Deleting all the transactions having TransactionNo = zero
dataset22.drop(dataset22[dataset22['TransactionNo'] == 0].index , inplace=True)

In [166]:
# Checking for null values
null_counts1 = dataset22.isnull().sum()
null_counts1

WarehouseNo         0
RegisterNo          0
TransactionNo       0
FiscalPeriod        0
DateOfSale          0
TransactionTime     0
ItemNo              0
DailySalesUnites    0
DailySalesSell      0
Resell              0
Refund              0
CatCode1            0
CatCode2            0
CatCode3            0
ItemDes1            0
ItemDes2            0
RegionCode          0
District            0
LCNAME              0
City                0
State               0
MembershipIPK       0
AccountType         0
ExeFlag             0
dtype: int64

In [167]:
# Changing the datatypes

dataset22['WarehouseNo'] = dataset22['WarehouseNo'].astype('int')
dataset22['RegisterNo'] = dataset22['RegisterNo'].astype('int')
dataset22['TransactionNo'] = dataset22['TransactionNo'].astype('int')
dataset22['FiscalPeriod'] = dataset22['FiscalPeriod'].astype('int')
dataset22['TransactionTime'] = dataset22['TransactionTime'].astype('int')
dataset22['AccountType'] = dataset22['AccountType'].astype('int')
dataset22['ItemNo'] = dataset22['ItemNo'].astype('int')

In [168]:
# Get shape of the dataset
row, col = dataset22.shape
#print('Number of Dimensions:', dataset.ndim ,', having', row, "rows and", col, 'columns' )
print('Number of Dimensions:', dataset22.ndim ,', having', row, "rows and", col, 'columns' )

Number of Dimensions: 2 , having 834811 rows and 24 columns

In [169]:
dataset22.head(5)

,WarehouseNo,RegisterNo,TransactionNo,FiscalPeriod,DateOfSale,TransactionTime,ItemNo,DailySalesUnites,DailySalesSell,Resell,Refund,CatCode1,CatCode2,CatCode3,ItemDes1,ItemDes2,RegionCode,District,LCNAME,City,State,MembershipIPK,AccountType,ExeFlag
0,423,12,398,2,2018-10-26 00:00:00,1721,1234449,1.0,549.99,N,N,M,A,B,"HP 15-CS0053CL 15.6"" LT",I5-8250U/12GB/1TB,BA,D3,Sunnyvale,SUNNYVALE,CA,539928,1,E
1,1001,5,257,2,2018-10-26 00:00:00,1352,1234449,1.0,549.99,N,N,M,A,B,"HP 15-CS0053CL 15.6"" LT",I5-8250U/12GB/1TB,LA,D3,Tustin,TUSTIN,CA,437256,2,E
2,770,2,108,2,2018-10-26 00:00:00,1226,1235362,1.0,469.99,N,N,M,A,B,"DELL I5570 15.6"" LT",I3-8130U/12GB/1TB,NW,D1,South Ogden,OGDEN,UT,6142209,1,E
3,770,2,209,2,2018-10-26 00:00:00,1442,1238985,1.0,899.99,N,N,M,A,B,"HP 15-CS0073CL 15.6"" LT",I7-8550U/16GB/1TB,NW,D1,South Ogden,OGDEN,UT,6139758,1,0
4,770,51,52,2,2018-10-26 00:00:00,1458,1238985,-1.0,-899.99,N,N,M,A,B,"HP 15-CS0073CL 15.6"" LT",I7-8550U/16GB/1TB,NW,D1,South Ogden,OGDEN,UT,6139758,1,0

In [117]:
# Exporting clean dataset for further analysis in Tableau
dataset22.to_csv('Tableau_dataset_new.csv', sep='\t', encoding='utf-8')

In [145]:
dataset22.to_dense().to_csv("submission.csv", index = False, sep=',', encoding='utf-8')

In [170]:
# Understanding dataset timeframe
print (min(dataset22['DateOfSale']))
print (max(dataset22['DateOfSale']))

2018-09-03 00:00:00
2019-03-17 00:00:00

In [171]:
#Get count of members

import sys
memberCount=len(set(dataset22["MembershipIPK"].tolist()))
print(memberCount)

559258

In [172]:
#len(dataset["WarehouseNo"].unique())
len(dataset22["WarehouseNo"].unique())

533

In [173]:
dataset22.head()

,WarehouseNo,RegisterNo,TransactionNo,FiscalPeriod,DateOfSale,TransactionTime,ItemNo,DailySalesUnites,DailySalesSell,Resell,Refund,CatCode1,CatCode2,CatCode3,ItemDes1,ItemDes2,RegionCode,District,LCNAME,City,State,MembershipIPK,AccountType,ExeFlag
0,423,12,398,2,2018-10-26 00:00:00,1721,1234449,1.0,549.99,N,N,M,A,B,"HP 15-CS0053CL 15.6"" LT",I5-8250U/12GB/1TB,BA,D3,Sunnyvale,SUNNYVALE,CA,539928,1,E
1,1001,5,257,2,2018-10-26 00:00:00,1352,1234449,1.0,549.99,N,N,M,A,B,"HP 15-CS0053CL 15.6"" LT",I5-8250U/12GB/1TB,LA,D3,Tustin,TUSTIN,CA,437256,2,E
2,770,2,108,2,2018-10-26 00:00:00,1226,1235362,1.0,469.99,N,N,M,A,B,"DELL I5570 15.6"" LT",I3-8130U/12GB/1TB,NW,D1,South Ogden,OGDEN,UT,6142209,1,E
3,770,2,209,2,2018-10-26 00:00:00,1442,1238985,1.0,899.99,N,N,M,A,B,"HP 15-CS0073CL 15.6"" LT",I7-8550U/16GB/1TB,NW,D1,South Ogden,OGDEN,UT,6139758,1,0
4,770,51,52,2,2018-10-26 00:00:00,1458,1238985,-1.0,-899.99,N,N,M,A,B,"HP 15-CS0073CL 15.6"" LT",I7-8550U/16GB/1TB,NW,D1,South Ogden,OGDEN,UT,6139758,1,0

In [174]:
# Which department the data belongs to?
dataset22[['CatCode1']].groupby(['CatCode1'])['CatCode1'].count()

CatCode1
M    834811
Name: CatCode1, dtype: int64

In [125]:
#Number of unique Cat 1 codes
len(dataset22["CatCode1"].unique())

1

In [178]:
#Number of unique Item Desc 1
len(dataset22["ItemDes1"].unique())

531

In [179]:
#Number of unique Item Desc 2
len(dataset22["ItemDes2"].unique())

520

In [175]:
#Number of unique Cat 2 codes
len(dataset22["CatCode2"].unique())

1

In [177]:
#Number of unique Cat 3 codes
len(dataset22["CatCode3"].unique())

1

In [180]:
# Which category the data belongs to?
dataset22[['ItemDes1']].groupby(['ItemDes1'])['ItemDes1'].count()

ItemDes1
ACER A5 LAPTOP                  5
ACER AS4730-4972 LT 14.1"       4
ACER AS4743Z-4861 14" LT        2
ACER AS5742-7645 15.6"LT        2
ACER AS5750-6589 15.6" LT       2
ACER AS6935-6194 LT 16"         2
ACER ASP F5 LT I7-7500U        21
ACER ASPIRE 5 I7-8550U        112
ACER ASPIRE 5 LT I7-8550U    1458
ACER ASPIRE E1 15.6" LT         2
ACER ASPIRE ONE 11.6" LED       2
ACER ASPIRE R14 I7-6500U        2
ACER ASPIRE R5 I7-7500U         4
ACER ASPIRE V15 I7-6700HQ       1
ACER ASPIRE V17 I7-6700HQ       1
ACER NB AS5602WLMI 15.4"W       4
ACER NB AS56104648 15.4"W      89
ACER NITRO 5 15.6" LT          68
ACER NITRO 5 I7-7700HQ          3
ACER NITRO 5 LT I5-7300HQ       1
ACER PRED G9 LT I7-7700HQ      32
ACER PRED LT I7-7700HQ         30
ACER PRED LT I7-7820HK          1
ACER PREDATOR LT I7-8750H     525
ACER R13 2IN1 I7-5500U/         1
ACER R13 I5-6200U/8/           10
ACER R14 2-N-1 LAPTOP           3
ACER R5 LAPTOP                  5
ACER SPIN 1 CEL 3350            8
ACER SPIN 3 15.6" TCH LT      309
                             ...
SONY NOTEBOOK CASE              2
SONY PCG-GRT150 P4 2.8GHZ       2
SONY PCG-TR3A P-M 1.00GHZ       6
SONY PCG-Z1VA PENTIUM M         8
SONY PCGGRS150 C 1.7GHZ         6
SONY PCGGRV550/C P4 DT         32
SONY PCGK14 P4 2.8GHZ W/        4
SONY PCGNV190 P4 1.7GHZ         2
TOSH C55-C5123 I5-6200U/        1
TOSH CB35 3215U/4/16/+32        1
TOSH S75 I7-4700MQ/LT           4
TOSHIBA 1105 C1.13GHZ           4
TOSHIBA 1905-S301 W/ 15"        2
TOSHIBA A25-S2792 P4 3.06       8
TOSHIBA A35-S1592 C.2.70        2
TOSHIBA A665-S5184X 15.6"      26
TOSHIBA C55T 15.6" TCH LT       1
TOSHIBA CELERON  2.80GHZ       20
TOSHIBA L55 15.6" LT            2
TOSHIBA L55W 15.6" TCH LT       5
TOSHIBA M105-S3051 14.1"W       4
TOSHIBA M45-S3553 15.4"W        2
TOSHIBA NB P205-S6277 17"     266
TOSHIBA P25-S487 P4             4
TOSHIBA P25-S5093 P4 3.0        8
TOSHIBA P35-S6112 17"W         12
TOSHIBA S55 15.6" TCH LT       13
TOSHIBA S55T 15.6" TCH LT       3
TOSHIBA SATELLITE 1135          3
TOSHIBA U205-S5021 12.1"W     246
Name: ItemDes1, Length: 531, dtype: int64

In [181]:
# Who are the top 10 members who has maximum transactions?

top_10= dataset22[['MembershipIPK']].groupby(['MembershipIPK'])['MembershipIPK'].count().nlargest(10)
top_10

MembershipIPK
7310       1927
816181     1740
5329740     335
3087670     311
4579940     156
6072717     153
1590474     151
5714487     151
5954613     125
1758766     118
Name: MembershipIPK, dtype: int64

In [182]:
#What is (are) the most frequently bought items?

from collections import Counter
products = dataset22['ItemNo']

# Give top 10 items with their count
Top_Products = Counter(products)
Top_Products.most_common(10)

[(1234449, 90751),
 (1230231, 84456),
 (1235362, 80741),
 (1272966, 71566),
 (1228011, 30267),
 (1228070, 29262),
 (1275609, 28842),
 (1275727, 28108),
 (1273709, 23428),
 (1222491, 20427)]

In [183]:
#(dataset['ItemNo'].unique())
len(dataset22['ItemNo'].unique())

643

In [184]:
#DSU=(dataset['DailySalesUnites'].unique()).tolist()
#DSU

In [185]:
# Analyzing items returned
#retn = dataset[dataset['DailySalesUnites']<0]
retn = dataset22[dataset22['DailySalesUnites']<0]

In [190]:
# Which items are frequently returned
retn[['DailySalesUnites']].groupby(['DailySalesUnites'])['DailySalesUnites'].count().nlargest(10)

DailySalesUnites
-1.0     137429
-2.0       1273
-5.0        239
-3.0        207
-4.0        123
-10.0        13
-6.0         13
-20.0         6
-8.0          6
-11.0         3
Name: DailySalesUnites, dtype: int64

In [191]:
retn[['ItemNo']].groupby(['ItemNo'])['ItemNo'].count().nlargest(10)

ItemNo
1234449    15245
1230231    12825
1235362    11746
1272966    10353
1228070     5536
1228011     5130
1275609     5114
1222491     4557
1226932     4347
1275727     3867
Name: ItemNo, dtype: int64

In [143]:
dataset22['RegionCode'].unique().tolist()

['BA', 'LA', 'NW', 'NE', 'SD', 'MW', 'TE', 'SE', 'BD', 'EC']

In [188]:
# Which are the top 5 item having maximum number of sales in different regions?

RegionCode = dataset22['RegionCode'].unique().tolist()
for i in range(len(RegionCode)):
    print('Region Code:', RegionCode[i])   
    Title_cnt = dataset22['ItemNo'][dataset22['RegionCode'] == RegionCode[i]].value_counts().head()
    print(Title_cnt)
    print('')

Region Code: BA
1234449    9559
1230231    9056
1235362    8351
1272966    8345
1228011    3684
Name: ItemNo, dtype: int64

Region Code: LA
1234449    10412
1230231    10094
1235362     9370
1272966     8762
1228011     3757
Name: ItemNo, dtype: int64

Region Code: NW
1234449    14806
1235362    12356
1230231    12273
1272966     8963
1228011     5768
Name: ItemNo, dtype: int64

Region Code: NE
1234449    13461
1230231    11368
1235362    10703
1272966     9397
1275727     4291
Name: ItemNo, dtype: int64

Region Code: SD
1234449    9606
1235362    8564
1230231    8406
1272966    6703
1228011    3452
Name: ItemNo, dtype: int64

Region Code: MW
1234449    12091
1230231     9877
1235362     9084
1272966     7246
1228011     4100
Name: ItemNo, dtype: int64

Region Code: TE
1234449    5404
1230231    4849
1235362    4151
1272966    3746
1275727    1855
Name: ItemNo, dtype: int64

Region Code: SE
1234449    10170
1230231     9506
1235362     8751
1272966     6870
1228070     3341
Name: ItemNo, dtype: int64

Region Code: BD
1272966    18
1228070     9
1234449     9
1235362     8
1278582     4
Name: ItemNo, dtype: int64

Region Code: EC
1278582    13266
1272966    11516
1231375    10295
1235362     9403
1230231     9024
Name: ItemNo, dtype: int64